* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
 body{
     line-height: 1.6;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    
     
   
}

span{
    color:rgb(129, 208, 235);
}
.logo{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav{
    background-color:rgba(59, 59, 59,0.6);
    display: flex;
    align-items: center;
    justify-content:space-around;
    height:65px;
  

}

.container li{
    list-style:none;
    padding:15px;
 
} 
.container ul{
    display: flex;
    align-items:center;


}
.container a{
    color: white;
    text-decoration:none;
    font-weight:100px;
   
}
ul a:hover{
    color:rgb(87, 179, 209);

}
ul .active{
    font-weight:bolder;
    color:rgb(87, 179, 209);
}

.footerinfo{
    margin-top:8rem;
    background-color:#ebe8e8;
    text-align: center;
    padding:10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button{
    display: inline-block;
    position: relative;
    border: 2px solid rgb(87, 179, 209);
    padding:10px 20px;
    margin: 10px;
    top:18rem;
    left:32rem;
    border-radius: 25px;
    background-color:rgb(87, 179, 209);
}
.btn{
    display: inline-block;
    position: relative;
    border: 2px solid;
    padding:10px 20px;
    margin: 10px;
    top:18rem;
    left:32rem;
    border-radius: 25px;

}
.showcaseintro{
    position: relative;
    text-align: center;
    top:10rem;
    color:white;
    line-height: 1.6;
}
.showcaseintro h1{
    font-size:45px;
    color: white;
}
.showcaseintro p{
    font-size:18px;
    
}
.service-container{
    display:grid;
    grid-template-columns:30% 30% 30%;
    align-items: center;
    justify-content: center;
}
.card{
    border:3px solid rgb(87, 179, 209);;
    height:300px;
    width:auto;
    padding:10px;
    margin:1rem; 
    font-family:monospace;
    color:#fff;
    box-shadow: 5px 2px 2px rgb(87, 179, 209);
}
.card i{
    font-size:35px;
    position: relative;
    left:45%;
    color:#fff;
    padding:5px;
}
.card h4{
   text-align:center;
   color:rgb(87, 179, 209);
   padding: 10px 0;
   font-weight:bolder;
   font-size:18px;
   
}
.card p{
    line-height:1.6;
    font-size:17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.service h1{
    color:rgb(87, 179, 209);
    text-align: center;
    padding:30px 0;
}
.team-card{
    width:40%;

}
